/* || FONT FACE */

@font-face {
  font-family: 'myProductSans';
  srs: url("./font/ProductSans.woff2") format("woff2"),
        url("./font/ProductSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myProductSans';
  srs: url("./font/ProductSans-Bold.woff2") format("woff2"),
        url("./font/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* || GENERAL STYLES */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font: 400 19px/1.15 'myProductSans', Arial, sans-serif;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1490px;
  padding: 0 15px;
  margin: 0 auto;
}

/* || VARIABLES */

:root {
  --orange: #f46632;
}

/* || HEADER */

.header {
  background-color: #111111;
}

.header .header__container {
  display: flex;
  align-items: center;
  height: 159px;
}

.header .header__wrap-logo {
  width: 123px;
  height: 52px;
  margin-right: 52px;
}

.header .header__button {
  padding: 13px 41px;
  margin-left: auto;
  border: 0;
  border-radius: 26px;
  background-color: #282828;
  color: #fff;
  font-size: 1.9rem;
  line-height: 2.6rem;
  cursor: pointer;
}

.header .header__button:hover {
  background-color: var(--orange)
}

/* || SITEWIDE */

.nav { }

.nav .nav__list {
  display: flex;
}

.nav .nav__item:not(:last-child) {
  margin-right: 65px;
}

.nav .nav__link {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1;
  text-decoration: none;
}

.nav .nav__link:hover {
  color: var(--orange);
}

.button {
  padding: 20px 119px;
  border: 0;
  border-radius: 16px;

  background-color: var(--orange);
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.3rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #282828;
}

.button.button_price {
  padding: 14px 67px;
  border-radius: 12px;

  font-style: 1.6rem;
}

.title {
  position: relative;
  display: inline-block;

  color: rgba(0, 0, 0, 0.05);
  font-size: 12rem;
  font-weight: bold;
}

.title::after {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #000;
  font-size: 3.2rem;
  white-space: nowrap;

  transform: translate(-50%, -50%);
}

.title.title_about::after {
  content: 'About us';
}

.title.title_experience::after {
  content: 'Course Experience';
}

.title.title_sessions::after {
  content: 'Sessions';
}

.title.title_masters::after {
  content: "Masters";
}

.title.title_faq::after {
  content: "Frequently Asked Questions";
}

.title.title_fee::after {
  content: "Course fee";
}

.socials { }

.socials .socials__item:not(:last-child) {
  margin-bottom: 33px;
}

.socials .socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 33px;
  height: 33px;
}

.socials.socials_master {
  display: flex;
}

.socials.socials_master .socials__item:not(:last-child) {
  margin-bottom: 0;
  margin-right: 29px;
}

.socials.socials_master .socials__link svg path {
  fill: #fff;
}

.socials.socials_master .socials__link:hover svg path {
  fill: var(--orange);
}

.tab {}

.tab .tab__nav {
  display: flex;
  margin-bottom: 81px;
}

.tab .tab__nav-item {
  flex: 3.59;
}

.tab .tab__nav-item:not(:last-child) .tab__nav-button {
  border-right: 0;
}

.tab .tab__nav-item:not(:last-child):not(:first-child) {
  flex: 2.98;
}

.tab .tab__nav-item:first-child .tab__nav-button {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.tab .tab__nav-item:last-child .tab__nav-button {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.tab .tab__nav-button {
  width: 100%;
  height: 60px;
  border: 1px solid #000;
  background-color: #fff;
  color: #0f0f0f;
  font-size: 1.8rem;
  cursor: pointer;
}

.tab .tab__nav-button:hover {
  background-color: #282828;
  color: #fff;
}

.tab .tab__nav-button:focus {
  outline: none;
  background-color: tomato;
  color: #fff;
}

.tab .tab__nav-button_active {
  background-color: #000;
  color: #fff;
}

.tab .tab__content {
  display: flex;
}

.tab .tab__item {
  display: none;
}

.tab .tab__item.active {
  display: block;
}

.tab .tab__text {
  font-size: 2rem;
  line-height: 4.8rem;
}

.conference {}

.conference .conference__header {
  display: flex;
  align-items: center;
  height: 53px;
  padding: 0 28px;
  margin-bottom: 48px;
  border-radius: 12px;
  background-color: #f8f8f8;
}

.conference .conference__title {
  flex: 0 0 322px;
  font-size: 2.6rem;
  font-weight: 700;
}

.conference .conference__metadata {
  display: flex;
  margin: 0;
}

.conference .conference__metadata-item {
  display: flex;
  padding-left: 34px;
  line-height: 24px;
}

.conference .conference__metadata-item:first-child {
  width: 296px;
  background: url('../images/icons/clock.png') left center no-repeat;
}

.conference .conference__metadata-item:last-child {
  width: 315px;
  background: url('../images/icons/calendar.png') left center no-repeat;
}

.conference .conference__metadata-value {
  margin: 0 10px 0 3px;
}

.conference .conference__button {
  position: relative;
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  color: #000;
  font: 1.9rem/1 'myProductSans', Arial, sans-serif;
  cursor: pointer;
}

.conference .conference__button:hover {
  text-decoration: underline;
}

.conference .conference__button::before {
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  padding: 0;
  margin-right: 15px;
  border-radius: 15px;
  background-color: #000;
}

.conference .conference__button::after {
  content: url('../images/icons/play.png');
  position: absolute;
  top: 5px;
  left: 17px;
}

.conference .conference__content {
  display: flex;
  padding: 0 126px 0 28px;;
}

.conference .conference__leads {
  flex: 0 0 322px;
  display: flex;
  flex-wrap: wrap;
}

.conference .conference__lead-wrap-img {
  margin: 0;
}

.conference .conference__lead-wrap-img:not(:first-child) {
  margin-left: 24px;
}

.conference .conference__description {
  font-size: 1.6rem;
  line-height: 3.4rem;
}

.master {
  display: flex;
  flex-direction: column;
}

.master .master__wrap-avatar {
  align-self: center;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 0 31px;
}

.master .master__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.master .master__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .7);
}

.master .master__wrap-avatar:hover .master__info {
  display: flex;
}

.master .master__button {
  padding: 14px 12px 14px 47px;
  border: 1px solid transparent;
  border-radius: 9px;
  background: url('../images/icons/button-decor.png') left 14px top 14px no-repeat, rgba(180,180,180, .48);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6rem;
  cursor: pointer;
}

.master .master__button:hover {
  border-color: #fff;
}

.master .master__socials {
  margin-bottom: 42px;
}

.master .master__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2rem;
}

.master .master__position{
  font-size: 1.8rem;
  white-space: nowrap;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;
  border-radius: 25px;

  background-color: #000;

  color: #fff;
}

.price .price__old {
  display: flex;
  align-items: center;

  margin-bottom: 30px;

  font-size: 2.5rem;
  text-decoration: line-through;
}

.price .price__old span {
  margin-left: 2px;

  font-size: 1.9rem;
}

.price .price__current {
  display: flex;
  align-items: center;

  margin-bottom: 38px;

  font-size: 3.4rem;
  font-weight: 700;
}

.price .price__current span {
  margin-left: 12px;

  font-size: 2.5rem;
}

.price .price__possibility {
  margin-bottom: 37px;

  font-size: 1.6rem;
}

/* || INTRO */

.intro {
  position: relative;
  margin-bottom: 290px;
}

.intro::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 167px;
  background-color: #111111;
  z-index: -1;
}

.intro::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -290px;
  height: calc(290px + 167px);
  background-color: #fafafa;
  z-index: -1;
}

.intro .intro__container {
  display: flex;
  align-items: center;

  padding: 109px 133px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 50px 50px 99px rgba(34, 34, 34, 0.06);
}

.intro .intro__content {
  flex: 5.65;
  margin-right: 6,7123%;
}

.intro .intro__hgroup {
  position: relative;
}

.intro .intro__hgroup::before {
  content: url("../images/intro-decor.png");
  position: absolute;
  top: 73px;
  left: 0;
}

.intro .intro__wrap-image {
  flex: 5.31;
}

.intro .intro__image {
  max-width: 100%;
  height: auto;
}

.intro .intro__title {
  margin-bottom: 99px;
  color: #8d8d8d;
  font-size: 3.8rem;
}

.intro .intro__subtitle {
  margin-bottom: 19px;
  font-size: 5rem;
  font-weight: bold;
}

.intro .intro__description {
  margin-bottom: 70px;
  font-size: 2.3rem;
  line-height: 5.5rem;
}

/* || ABOUT */
.about {
  position: relative;
  padding-bottom: 123px;
  background-color: #fafafa;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  padding: 51px 121px 74px;
  border-radius: 30px;
  box-shadow: 50px 50px 99px rgba(65, 65, 65, 0.06);
}

.about__text {
  width: 100%;
  margin-top: 77px;
  line-height: 5rem;
}

.about__wrap-img {
  margin: -172px 5.7534% 0 0;
}

.about__socials {
  margin-left: auto;
}

/* || EXPERIENCE */
.experience {
  position: relative;
  margin-bottom: 138px;
}

.experience::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  display: block;
  background-color: #fafafa;
}

.experience .experience__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 55px 142px 105px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 50px 50px 99px rgba(41, 41, 41, 0.06);
}

.experience .experience__title {
  margin-bottom: 63px;
}

/* || SESSIONS */

.sessions {
    margin-bottom: 193px;
}

.sessions .sessions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sessions .sessions__title {
  margin-bottom: 125px;
}

.sessions  .sessions__list {
  position: relative;
  padding-left: 22px;
}

.sessions .sessions__list::before {
  content: '';
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 0;
  display: block;
  width: 2px;
  height: 100%;
  background-color: #e8e8e8;
}

.sessions .sessions__item {
  position: relative;
}

.sessions .sessions__item::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 7px;
  display: block;
  height: 39px;
  width: 6px;
  border-radius: 3px;
  background-color: #000;
}

.sessions .sessions__item:not(:last-child) {
  margin-bottom: 72px;
}

/* || MASTERS */

.masters {
    position: relative;
}

.masters .masters__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 78px 60px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 50px 0 99px rgba(100, 100, 100, 0.06);
}

.masters .masters__title {
  margin-bottom: 67px;
}

.masters .masters__list {
  display: grid;
  grid-column-gap: 75px;
  grid-row-gap: 62px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}

/* || FAQ */

.faq {
  margin-top: -430px;
  padding-top: 587px;
  padding-bottom: 630px;

  background-color: #fafafa;
}

.faq .faq__title {
  margin: 0 auto 32px;
}

.faq .faq__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq .faq__list {
  width: 100%;
}

.faq .faq__item:not(:last-child) {
  margin-bottom: 34px;
}

.faq .faq__summary {
  position: relative;
  display:  flex;
  align-items: center;

  height: 88px;
  border-radius: 26px;
  background-color: #fff;
  box-shadow: 10px 10px 99px rgba(211, 211, 211, 0.16);

  list-style: none;
  font-size: 2.1rem;
  line-height: 3.3rem;

  cursor: pointer;
}

.faq .faq__summary::after,
.faq .faq__summary::before {
  content: '';
  position: absolute;
  right: 0;
  display: block;

  width: 20px;
  height: 3px;
  border-radius: 1px;

  background-color: #000;

  transition: all .2s ease-out;
}

.faq .faq__summary::after {
  transform: rotate(90deg);
}

.faq .faq__summary:focus {
  outline: none;
}

.faq .faq__summary::-webkit-details-marker {
  display: none;
}

.faq .faq__details {
  padding: 0 64px;
  background-color: #fff;
}

.faq .faq__details[open] .faq__summary::after {
  transform: rotate(0);
}

.faq .faq__description {
  padding-bottom: 30px;

  font-size: 1.6rem;
  line-height: 3.4rem;
}

/* || FEE */

.fee {
  margin-top: -435px;
}

.fee .fee__container {
  display: grid;
  grid-template-columns: 1fr 474px;
  grid-template-rows: auto;
  grid-column-gap: 75px;

  padding: 45px 106px 48px 110px;
  border-radius: 30px;

  background-color: #fff;
  box-shadow: 50px 50px 99px rgba(44, 44, 44, 0.06);
}

.fee .fee__title {
  grid-column: 1 / 3;
  grid-row: 1;
  margin: 0 auto 71px;
}

.fee .fee__achievements {
  grid-column: 1 / 2;
  grid-row: 2;

  margin: 0;
}

.fee .fee__price {
  grid-column: 2 / 3;
  grid-row: 2;
}

.fee .fee__subtitle {
  margin-bottom: 51px;

  font-weight: 700;
  font-size: 2.4rem;
}

.fee .fee__item {
  position: relative;

  padding-left: 51px;

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.fee .fee__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  display: block;
  width: 27px;
  height: 27px;

  background: url("../images/icons/check-success.png") left center no-repeat;
}

.fee .fee__item:not(:last-child) {
  margin-bottom: 51px;
}

.fee .fee__footer {
  grid-column: 1 / 3;
  grid-row: 3;

  margin: 64px auto 0;
  padding-top: 51px;
  border-top: 1px solid #ebebeb;
}

.fee .fee__possibility {
  font-size: 1.8rem;

  opacity: .49;
}
